*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(Cb.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
h1{
    display: flex;
    align-items: center;
    background-color: rgb(248, 192, 118);
    color:white;
    position: absolute;
    top: 0;
    margin-top: 200px;
}
h2{
    background-color: black;
    color: red;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
.Image{
    width: 30px;
    height: 30px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
img:active{
    scale: 1.1;
}
.UpgBox{
    background-color: rgb(248, 192, 118);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 520px;
    width: 90px;
    height: 100px;
}
#upgrade1{
    width: 87px;
    height: 36px;
    color: rgb(248, 192, 118);
    background-color: brown;
    border-radius: 5px;
}
#upgrade2{
    width: 77px;
    height: 36px;
    color: rgb(248, 192, 118);
    background-color: brown;
    border-radius: 5px;
}
.M1{
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 5px;
    color: rgb(248, 192, 118);
}
.M2{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 50px;
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 5px;
    color: rgb(248, 192, 118);
}
svg{
    width: 20px;
    height: 26px;
}